<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleName</key>
		<string>GBmu</string>
		<key>CFBundleDisplayName</key>
		<string>GBmu</string>
		<key>CFBundleIdentifier</key>
		<string>t-vector32.gbmu</string>
		<key>CFBundleVersion</key>
		<string>1.0.0b</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>GBmu</string>
		<key>CFBundleExecutable</key>
		<string>gbmu</string>
		<key>CFBundleIconFile</key>
		<string>gbmu.icns</string>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>gb</string>
					<string>gbc</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>GameBoy ROM</string>
				<key>CFBundleTypeRole</key>
				<string>Viewer</string>
				<key>LSHandlerRank</key>
				<string>Owner</string>
			</dict>
		</array>
	</dict>
</plist>
